body {
    background-image: url('Pokedex.jpg');
    background-position: center;
    font-family: Arial, sans-serif;
    background-color: #a43838; 
    min-height: 100vh;
    text-align: center;
}

.capa-formulario {
    color: white;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(122, 81, 5);
    width: 300px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#container-pokedex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    align-items: flex-start;
    padding: 20px 0;
    width: 100%;
}

.buscar-pokedex {
    margin: 0 auto 20px auto; 
    width: fit-content;
}

.pokemon-card {
    background-color: rgba(132, 228, 53, 0.588); 
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 180px; 
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.pokemon-card img {
    width: 90px;
    height: 90px;
}