body {
    font-family: Arial, sans-serif;
    background-color: #a43838;
    min-height: 100vh;
    text-align: center;
}

#container-pokedex {
    display: grid; 
    min-height: 500px;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px; 
    gap: 5;

    align-items: center;
    justify-items: center;
}

.buscar-pokedex {
    margin: 0 auto 20px auto; 
    width: fit-content;      
}

.pokemon-card {
    background-color: rgb(132, 228, 53);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.pokemon-card img {
    width: 100px;
    height: 100px;
}