body {
    background-color:rgba(10, 10, 187, 0.897);
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

#container-pokedex { /* coincidir con el Id de HTML*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: 20px;
}

.pokemon-card {
    background-color: rgba(64, 53, 228, 0.836);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
}

.pokemon-card:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.pokemon-card img {
    width: 100px;
    height: 100px;
}