/*Estructura del Formulario de Pedido*/
.formulario-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 15px;
}

.formulario-container label {
    font-weight: bold;
    margin-top: 10px;
}

.formulario-container input[type="date"],
.formulario-container select,
.formulario-container textarea,
.formulario-container button {
    width: 100%;
}

.btn-principal-formulario {
    background: #a72828;
}
.btn-principal-formulario:hover {
    background: #7e1e1e;
}

/*Controles de Navegación Inferiores*/
.controles-navegacion-pedido {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 20px auto 40px auto;
}

.btn-secundario-formulario {
    background: #843030;
    color: white;
    padding: 10px 15px;
    width: 48%;
}

.btn-secundario-formulario:hover {
    background: #5a2626;
}