body{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;  
    background-color: white;
}

h1{
    font-size: 50px;
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

label input {
    display: grid;
    
}  