.controles-navegacion-pedido {
    display: flex;
    justify-content: space-between; 
    max-width: 800px; 
    margin: 20px auto 40px auto;
    padding: 0 10px;
}

.btn-secundario-formulario {
    background-color: #6c757d; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-secundario-formulario:hover {
    background-color: #5a6268;
}

.btn-principal-formulario {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-principal-formulario:hover {
    background-color: #1e7e34;
}