/* Contenedor de los botones de pedidos */
.controlPedidos {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin: 40px 0;
}

/* Estilo para los botones de acción */
.boton {
    background: #a41212; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px; 
    transition: background 0.2s, transform 0.1s;
    
    width: 150px; 
    height: 150px; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
}

.boton:hover {
    background: #a30000; 
    transform: translateY(-2px); 
}