body {
    background-image: url('portada.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titulo {
    color: rgba(20, 74, 175, 0.89);
    font-size: 0.5in;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 50px;
}

h3 {
    color: rgba(10, 90, 143, 0.89);
    text-indent: 10px;
}

p {
    color: rgba(10, 90, 143, 0.89);
}

.a {
    list-style-type: circle;
    color: rgba(41, 14, 196, 0.555)
}

.cuadrado-arriba {
    width: 1250px;
    height: 150px;
    background: rgba(0, 0, 0, 0.856);
    border-radius: 16px;
    align-self: center;
    margin: 100px 325px 100px 325px;
}

.cuadrado-abajo {
    width: 1250px;
    height: 500px; 
    background: rgba(0, 0, 0, 0.856);
    border-radius: 16px;
    align-self: center;
    margin: 100px 325px 100px 325px;
}