body {
    font-family:'Times New Roman', Times, serif;
}

.container {
    background-color: blue;
    display: grid;
    min-height: 500px;
    grid-template-areas: "head head head"
                         "menu content content"
                         "footer footer footer";
    grid-template-rows: 100px 450px 120px;
}

.container header {grid-area: head; background-color: brown;}
.container .menu {grid-area: menu; background-color: blueviolet;}
.container .content {grid-area: content; background-color: cadetblue;}

.container header h2{
    color: black;
    display: flex;
    margin-left: 650px;
    margin-top: -70px;
}

.container header img.CIF{
    size: 50px;
    width: 200px;
    margin-left: 100px;
    margin-top: 10px;
}

.container header img.Gobierno{
    size: 50px;
    width: 200px;
    margin-left: 1150px;
    margin-top: -45px;
}

.container footer {
    grid-area: footer; 
    display: flex;
    background-color: yellow; 
    flex-direction: column;     
    justify-content: center;    
    align-items: center;       
    text-align: center;  
}

@media(max-width: 760px){
    .container {
        background-color: blue;
        min-height: 500px;
        display: grid;

        grid-template-areas: "head"
                             "menu"
                             "content"
                             "footer";
        grid-template-rows: 100px 50px 500px 100px;
    }
}