body {
    font-family:'Times New Roman', Times, serif;

}

.container {
    background-color: blue;
    display: grid;
    min-height: 500px;
    grid-template-areas: "head head head"
                         "menu content content"
                         "footer footer footer";
    grid-template-rows: 175px 600px 200px;
}

.container header {grid-area: head; background-color: brown;}
.container .menu {grid-area: menu; background-color: blueviolet;}
.container .content {grid-area: content; background-color: cadetblue;}
.container footer {grid-area: footer; background-color: yellow;}

.container header p{
  display: flex;
  justify-content: flex-end; 
  font-size: 15px;
  color: black;
  margin-top: -50px;
  margin-right: 30px;
}

.container header h1{
    display: flex;
    margin-left: 525px;
    margin-top: -70px;
}

.container header img{
    size: 100px;
    width: 300px;
    margin-left: 200px;
    margin-top: 25px;
}

@media(max-width: 760px){
    .container {
        background-color: blue;
        min-height: 500px;
        display: grid;

        grid-template-areas: "head"
                             "menu"
                             "content"
                             "footer";
        grid-template-rows: 100px 50px 500px 100px;
    }
}