body{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;   
    background-color: white;
}

.container{
    background-color: transparent;
    display: grid;
    /*justify-content: center;  centra los items del container en el eje central*/
    /*gap: 10px; Separacion entre items*/
    min-height: 300px; /*Largo del contenedor*/
    grid-template-rows: auto auto; /*Cantidad de filas y su tamaño*/
    grid-template-areas: "header header header"
                         "login login login"
                         "footer footer footer"; 
}

.container header{
    grid-area: header;
    background-color: rgb(199, 64, 64);
    height: 100px; /*Largo del item*/
    border-radius: 10px;
    border: 3px solid black;
}

.container header h2{
    color: black;
    display: flex;
    margin-left: 650px;
    margin-top: -70px;
}

.container header img.CIF{
    size: 50px;
    width: 200px;
    margin-left: 100px;
    margin-top: 10px;
}

.container header img.Gobierno{
    size: 50px;
    width: 200px;
    margin-left: 1150px;
    margin-top: -45px;
}

.container .login {
    grid-area: login;
    background-color:rgb(199, 64, 64);
    height: 500px; /*Largo del item*/
    width: 600px; /*Ancho del item*/
    /*margin-top: 400px; Esto es la diferencia con el espacio exterior*/
    /*margin: 85px 0px 0px 625px; Arriba / Derecha / Abajo / Izquierda */
    margin-left: 450px; /*Mueve a la derecha*/
    margin-top: 20px; /*Mueve hacia abajo*/
    border-radius: 100px;
    border: 3px solid black; 
}

.login h1{
    color: black;
    text-align: center;
}

label{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
    margin-left: 90px; 
}   

input{
    display: flex;
    height: 30px;
    width: 400px; 
    border: 1px solid black; 
    margin-left: 90px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px; 
}

button{
    display: flex;
    background-color: transparent;
    margin-top: 20px;
    width: 400px;
    height: 40px;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
}

button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.container footer{ grid-area:footer; color: black;}

@media (max-width: 480px) {
    .container {
        display: grid;
        grid-template-areas: 
            "header header header"
            "login login login";
        grid-template-rows: auto auto;
        justify-content: center;
        padding: 10px;
    }

    .container header{
        display: flex;
        flex-direction: column;
        height: 120px;
    }

  
}

@media (max-width: 768px) {
    .container {
     display: grid;
     grid-template-rows: auto auto;
     grid-template-areas:
         "header header header"
         "login login login";
  }

  .container header {
     grid-area: header;
     width: 750px;
  }

  .container header img.CIF {
    margin-left: 30px;
  }

  .container header img.Gobierno {
    margin-left: 550px;
  }

  .container header h2{
    margin-left: 300px;
  }

  .container .login{
    grid-area: login;
    margin-left: 60px;
  }
}