body{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;   
    background-color: rgb(107, 154, 224);
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
}

.container{
    background-color: transparent;
    display: grid;
    min-height: 300px; 
    grid-template-areas: "header header header"
                         "login login login";
    grid-template-rows: auto auto;
}

.container header h1{
    display: flex;
    margin-left: 525px;
    margin-top: -70px;
}

.container header img.CIF{
    size: 100px;
    width: 300px;
    margin-left: 200px;
    margin-top: 25px;
}

.container header img.Gobierno{
    size: 100px;
    width: 300px;
    margin-left: 1225px;
    margin-top: -170px;
}

.container header{
    grid-area: header;
    background-color: rgb(156, 172, 241);
    height: 150px; 
    border-radius: 10px;
    border: 3px solid black;
}

h1{
    color: black;
}

.login h1{
    text-align: center;
}

.container .login {
    grid-area: login;
    background-color:rgb(166, 179, 221);
    height: 600px; 
    width: 600px; 
    margin-left: 650px; 
    margin-top: 100px; 
    border-radius: 100px;
    border: 3px solid black; 
}

label{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
    margin-left: 90px; 
}   

input{
    display: flex;
    height: 30px;
    width: 400px; 
    border: 1px solid black; 
    margin-left: 90px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px; 
}

button{
    display: flex;
    background-color: transparent;
    margin-top: 20px;
    width: 400px;
    height: 40px;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
}

button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

@media (max-width: 769px) {
    .container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
      "header"
      "login";
    justify-content: center;
    padding: 20px;
  }

  .container header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .container header h1 {
    margin: 10px 0px;
    font-size: 24px;
  }

  .container header p {
    font-size: 14px;
    margin-top: -90px;
    margin-left: 300px;
  }

  .container header img {
    width: 200px;
    margin: 10px 0px 10px -250px;
  }

  .container .login {
    width: 1000px;
    max-width: 400px;
    height: 450px;
    margin: 20px 30px;
    padding: 20px;
    border-radius: 35px;
  }

  label, input, button {
    margin-left: 0;
    width: 100%;
    max-width: 300px;
    margin: 10px 15px;
  }

  button {
    height: 40px;
  }

}